<%- include ('./partials/header') %>

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
            
       
		 <div>
		  <% items.forEach(function(image) { %> 
		   <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			    <span class="w3-right w3-opacity"><%= image.created.toDateString() %></span>
             <h4 style="color:red"><%= image.name %></h4><br>
			     <hr class="w3-clear">
			   <p style="color:green">
				  <%= image.desc %> 
			   </p>
			   <div class="w3-row-padding" style="margin:0 -16px">
				   <div class="w3-half">
                  <img src="data:image/<%=image.img.contentType%>;base64, 
                     <%=image.img.data.toString('base64')%>"   alt="Northern Lights" class="image">
			   </div>
			   </div>
			  
	
			   <div>

	        <a href="/images/<%=image._id %>" class="w3-button w3-theme-d2 w3-margin-bottom">

	          Read More


	        </a>

	      </div>
		</div>
		 <% }) %>  
		</div>
	<%- include ('./partials/footer') %>
      
		
		
      
      

      
   
